@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-4 text-white">About</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <article>
            <p>




                Project source code: <a href="https://github.com/abwelch/RuntimeAnalyzer">GitHub Repository</a>
            </p>
        </article>
    </div>
</div>
