@using RunTimeAnalyzer.ViewModels

@{
    ViewData["Title"] = "FlashCards";
}

<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-4">FlashCards</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 flip_container">
        <div id="whole-card" class="flip m-0 p-0">
            <div class="flip_front w-100">
                <div class="card">
                    <div class="text-center card-body FlashCardBorder">
                        <textarea readonly id="cardBody" rows="6" class="form-control text-center" style="display: block; height: 100%; font-size:x-large;">@FlashCards.Cards[0].Item1</textarea>
                    </div>
                </div>
            </div>
            <div class="flip_back w-100">
                <div class="card">
                    <div class="text-center card-body FlashCardBorder">
                        <textarea readonly id="cardAnswer" rows="6" class="form-control text-center" style="display: block; height: 100%; font-size:x-large;">@FlashCards.Cards[0].Item2</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <button class="btn btn-primary p-4 mt-5" style="font-size:large;" onclick="FlipCurrent()">Flip</button>
</div>
<div class="row justify-content-end">
    <button class="btn btn-primary p-3 mr-3" style="font-size:large;" onclick="NextCard()">Next</button>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>

<script>
    var index = 0;
    var cardPrompts = [];
    var cardAnswers = [];

    window.onload = function () {
        PopulateArrays()
    };

    function PopulateArrays() {
        @for (int i = 0; i < FlashCards.Cards.Count; i++)
        {
            @:cardPrompts.push("@FlashCards.Cards[i].Item1");
            @:cardAnswers.push("@FlashCards.Cards[i].Item2");
        }
    }

    function NextCard() {
        if (index == cardPrompts.length-1) {
            index = 0;
        }
        else {
            index++;
        }
        document.getElementById("cardBody").value = cardPrompts[index];
        document.getElementById("cardAnswer").value = cardAnswers[index];
    }
</script>