/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: dodgerblue;
}

a:hover {
    color: dodgerblue;
    text-decoration: underline;
}

    a:hover {
        color: dodgerblue;
        text-decoration: underline;
    }


    /* edit buttons to be more professional*/
.btn-primary {
    
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
/* effects that occur whenever a user hovers over a flashcard*/
.btn-primary:hover {
    background-color: red;
    border-color: red;
        
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: black;
    color: white;
    font-size: 18px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

a.nav-link {
    font-size: 20px;
}
    a.nav-link:hover {
        color: dodgerblue !important;
        text-decoration: underline;
    }

/* Flash Card css */
.flip_container {
    width: 100%;
    height: 250px;
    cursor: pointer;
}


.flip {
    -webkit-transition: 0.75s;
    transition: 0.75s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
}

.flip-counter {
    -webkit-transition: 0.75s;
    transition: 0.75s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip_front,
.flip_back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.flip_front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip_back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    /*
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    border-radius: 5px;
        */
}

/* End of Flash Card css */
