/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: dodgerblue;
}

a:hover {
    color: dodgerblue;
    text-decoration: underline;
}

    a:hover {
        color: dodgerblue;
        text-decoration: underline;
    }


/* Main button class stylings*/
.btn-primary {
    
  color: white;
  background-color: purple;
  border-color: mediumpurple;
  border-width: medium;
  border-radius: 15px;
}
    .btn-primary:hover {
        background-color: mediumpurple;
        border-color: purple;
        transition-duration: .5s;
    }

    .btn-primary:active {
        background-color: mediumpurple !important;
        transform: translate(0px, 2px);
    }

    .btn-primary:focus, .btn-primary.focus {
        box-shadow: 0 0 0 0.3rem rgba(30, 144, 255, 0.00) !important;
        border-color: purple !important;
    }

.FlashCardBorder {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 12%, rgba(255,21,250,1) 41%, rgba(69,116,252,1) 70%, rgba(29,244,253,1) 100%);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: black;
    color: white;
    font-size: 18px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

a.nav-link {
    font-size: 20px;
}
    a.nav-link:hover {
        color: dodgerblue !important;
        text-decoration: underline;
    }

/* Flash Card css */
.flip_container {
    width: 100%;
    height: 250px;
    cursor: pointer;
}


.flip {
    -webkit-transition: 0.75s;
    transition: 0.75s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
}

.flip-counter {
    -webkit-transition: 0.75s;
    transition: 0.75s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip_front,
.flip_back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.flip_front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip_back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    /*
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    border-radius: 5px;
        */
}

/* End of Flash Card css */
